<h1>Word Counter</h1>
<form action="/result" method="post">
  <label for="user-sentence-input">Enter a sentence</label>
  <input name="user-sentence-input" id="user-sentence-input" required type="text">
  <label for="user-word-to-check">Enter the word to check for</label>
  <input name="user-word-to-check" id="user-word-to-check" required type="text">
  <button type="submit">Check for your word!</button>
</form>
